VITE_SUPABASE_URL=https://uavjrgxrhlwkqluubvcw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhdmpyZ3hyaGx3a3FsdXVidmN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2NDI3OTQsImV4cCI6MjA4NzIxODc5NH0.qK_SKWfAGd9w8N724RHVVhYG2bolZkuQhGq4OV4sNSY
VITE_REVIEWER_LOGIN_URL=https://43.167.177.105:8080/admin/login
